.weather-info {
  background: white;
  padding: 20px;
  margin: 0 auto;
  border-radius: 10px;
  max-width: 370px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.weather-info h2 {
  font-size: 2rem;
  color: #0153ab;
  margin-bottom: 10px;
}

.weather-info p {
  font-size: 1rem;
  color: #555;
  margin: 10px 0;
}

.weather-info img {
  width: 100px;
  height: 100px;
  margin: 10px auto;
}

.weather-info button {
  background-color: #0153ab;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s linear;
}

.weather-info button:hover {
  background-color: #013c82;
}

.weather-info button:active {
  background-color: #012a5f;
}

.weather-info button:focus {
  outline: none;
}

@media (max-width: 768px) {
  .weather-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 80%;
  } 
}
